<h1>Home Page</h1>



<put a carousel here>

<ul>
<li>create game</li>
<form method='get' action='/stories/join'><button><li>join game</li></button></form>
<li>top games</li>
</ul>

<form method='post' action="/users/login">
  <input type="text" name="user_id"/>
  <button>submit</button>
</form>

<%= session[:user_id] %>


