
    <!-- Header Carousel -->

    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('/icons/banner.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/icons/banner_2.jpg');"></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('/icons/banner_3.jpg');"></div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">
        <div class="row text-center">    
            <div class="col-xs-12 col-sm-4">
                <div class="row landing-button">
                    <div class="col-xs-12 col-sm-offset-2 col-sm-10">
                        <a href="#myModal" data-toggle="modal" data-target="#myModal">
                        <img src="/icons/pencil.png" class="grayscale img-circle img-responsive img-center" alt>
                        </a>
                        <h3>Create Game!</h3>  
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row landing-button">
                    <div class="col-xs-12 col-sm-offset-1 col-sm-10">                     
                        <a href="/stories/join">
                        <img src="/icons/game.png" class="img-circle img-responsive img-center grayscale" alt></a>
                        <h3>Join Game!</h3>  
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="row landing-button">
                    <div class="col-xs-12 col-sm-10">
                        <a href="/stories">
                        <img src="/icons/monitor.png" class="grayscale img-circle img-responsive img-center" alt></a>
                        <h3>All Games!</h3>   
                    </div>
                </div>
            </div> 
        </div>        
    </div>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enter The Title of Your Telesketch!</h4>
      </div>

      <div class="modal-body">
       <form class="form-horizontal well
       " id="set-title-form" method='post' action='/stories/new'>
          <textarea class="form-control" rows="10" id="title" placeholder="(Enter Your Title Here)" name="caption" maxlength="140"></textarea>
          <button class="btn btn-default" type="submit">Create Game!</button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

    <script>
    $(function(){
       $('set-title-form').on('submit', function(e){
            e.preventDefault();
            $.ajax({
                url: "/stories/new",
                type: "POST",
                data: $("set-title-form").serialize(),
                success: function(data){
                   console.log(data);
                }
            });
       }); 
    });
</script>

  </div>
</div>


