<h1>Home Page</h1>


<div style="position:relative; width: 1000px; margin: 0 auto;">
<div id="carousel" class="slider multiple-items">
<% @stories.each do |story| %>
	<div>
		<img src=""/>
	</div>
<% end %>
</div>
</div>





<ul>
<li>create game</li>
<form method='get' action='/stories/join'><button><li>join game</li></button></form>
<li>top games</li>
</ul>

<form method='post' action="/users/login">
  <input type="text" name="user_id"/>
  <button>login</button>
</form>

<form method='post' action="/users/logout">
  <button>logout</button>
</form>



