<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.css">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick-theme.css"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src=""></script>
  <script src="/javascript/application.js"></script>
  <script src="/javascript/bootstrap.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js"></script>



  <title></title>
</head>
<body>
  <%= yield %>

  <% if logged_in? %>
    <p> <%= session[:user_id] %> </p>
    <p> current_user = <%= current_user.name  %> </p>
  <% end %>
</body>
</html>
