<div class="container">
<div class="jumbotron col-md-10 col-md-offset-1">  
  <h1>We're Sorry, You must LOGIN before you can play a game</h1>
  </br>
  <div class="row text-center"> 
    <form method="post" action="/users/login">
      <ul class="list-group login-auth-form">
        <li class="list-group-item"><input type="text" style="color: black" placeholder="@USER_ID" name="user_id"></li>
        <li class="list-group-item"><button class="btn-md" id="login-btn" type="submit">Log in</button></li>
      </ul>
    </form>
  </div>
</div>
</div>