<div style="position:relative; width: 1000px; margin: 0 auto;">
	<% @stories.each do |story| %>
		<div id="carousel" class="slider multiple-items">
			<% story.inputs.each do |input| %>
				<% if input.is_a?(Text) %>
					<div>
					<%= input.caption %>
					</div>
				<% else %>
					<img src ="<%= input.image_path %>"/>
				<% end %>
			<% end %> 
		</div>
	<% end %>
</div>

###########
1. Image vs. Txt.
2. Carousel for txt/img/txt/img/--> 12.
3. Carousel for each complete stroy. 
