<div style="position:relative; width: 1000px; margin: 0 auto;">
<br/>

    <div id="carousel" class="slider multiple-items" >
      <% @story.inputs.each do |input| %>
        <% if input.is_a?(Text) %>
          <div id="box">
            <p><%= input.caption %></p>
          </div>
        <% else %>
          <img src ="<%= input.image_path %>"/>
        <% end %>
      <% end %> 
    </div>
    <div class="contributors">
      <ul class="list-group story-users">
        <div class="row text-center">
              <% @story.inputs.each do |input| %>
                <li class="list-group-item col-sm-3"><a href="/users/<%= input.user_id %>">
                  <%= User.find(input.user_id).name %></a></li>
              <% end %>
        </div>
        </ul>
      
    </div>
</div>

<style>
.slick-prev:before, .slick-next:before { 
    color:red !important;
}
</style>


