<div class='demo' id='colors_demo'>
  <div class="row text-center">
    <div class="col-sm-6 col-sm-offset-3">
      <% if @story.inputs.exists? && !@story.inputs.last.caption.nil? %>    
        <h1><%= @story.inputs.limit(1).order(created_at: :desc).where(type: "Text")[0].caption %></h1>
      <% end %> 
    </div> 
  </div>
<div class="container_canvas">
  <div class="tools">
     <a href="#colors_sketch" id="sketch_download" class="btn btn-primary" data-download="png" style="float: right;">Save</a>
     <a href="/stories/<%= @story.id %>/play" id="sketch_clear" class="btn btn-danger" data-download="png" style="float: right;">Clear</a>
  </div>
  <canvas id="colors_sketch" width="600" height="500"></canvas>
</div>
</div>



